{% extends 'codice/base_home.html' %}
{% load static %}
{% load i18n %}
{% load gravatar %}
{% load humanize %}
{% load mathfilters %}
{% load nvd3_tags %}
{% load boxes %}
{% block additional_head %}
    {% include_chart_jscss 'lib' %}
    {% load_chart charttype_commit chartdata_commit chartcontainer_commit extra_commit %}
    {% load_chart charttype_commit_acum chartdata_commit_acum chartcontainer_commit_acum extra_commit_acum %}
    {% load_chart charttype_activity chartdata_activity chartcontainer_activity extra_activity %}
    {% load_chart charttype_activity_acum chartdata_activity_acum chartcontainer_activity_acum extra_activity_acum %}
{% endblock %}
{% block content_body %}
    <h2 class="page-title">{% trans 'Developer Profile' %}</h2>
    <div class="row">
        <section class="col-md-7">
            <section class="widget">
                <div class="body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="box">
                            <br>
                            <div class="text-align-center">
                                <img class="img-circle" src="{% gravatar_url developer.email %}"
                                     alt="developer" onerror="this.src='{% static 'img/1.png' %}'" style="height: 64px">
                            </div>
                                <div class="icon">
                                    {% if badge_stack %}
                                    <span class="fa-stack" style="position: relative; top: -10px;display: inline-block">
                                        <i class="{{ badge }}  fa-stack-1x"></i>
                                        <i class="{{ badge_stack }} fa-stack-1x"></i>
                                    </span>
                                    {% else %}
                                        <i class="{{ badge }}"></i>
                                    {% endif %}
                                </div>
                                <div class="description"><strong>{{ badge_description }}</strong><br></div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h3 class="mt-sm mb-xs">
                                {% if not developer.enabled %}
                                <i class="fa fa-ban"></i>
                                {% endif %}
                                {{ developer.name }}
                                <small class="pull-right">
                                    <a class="btn btn-sm  btn-info" data-toggle="modal" data-target="#changeProfileModal"
                                                                       data-authorid="{{ developer.id }}">
                                        <i class="fa fa-gear"></i>
                                    </a>
                                </small>
                            </h3>
                            <address>
                                <strong>{% trans developer.description %}</strong><br>
                                <strong>{% trans 'Grade' %}:  {{ ratio|floatformat:2 }}{{ level }} </strong><br>
                                <abbr title="{% trans 'email' %}">{% trans 'e-mail:' %}</abbr> <a href="mailto:{{ developer.email }}">{{ developer.email }}</a><br><br>
                                {% if developer.is_alias_of %}
                                    <abbr title="{% trans 'is alias of' %}">{% trans 'is alias of:' %}</abbr>
                                    {% if project %}
                                        <a href="{% url 'developer-profile' project.id developer.is_alias_of.id %}">{{ developer.is_alias_of }}</a><br><br>
                                    {% else %}
                                        <a href="{% url 'full-developer-profile' developer.is_alias_of.id %}">{{ developer.is_alias_of }}</a><br><br>
                                    {% endif %}
                                {% endif %}
                                <abbr title="{% trans 'since' %}">{% trans 'active since:'%}</abbr> {{ active_since }}<br>
                                <abbr title="{% trans 'last commit' %}">{% trans 'last commit:' %}</abbr> {{ last_commit.message }}
                            </address>

                        </div>
                    </div>
                </div>
            </section>
            {% if not developer.is_alias_of %}
            <section>
                <div id="pcard" class="widget" >
                    <header>
                        <h4>{% block punch_card_title %}{% trans 'Punch Card' %}{% endblock %}</h4>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="body" >
                        <div class="row" >
                            <div class="col-md-12">
                                <div id="punchcard"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4>{% trans 'Activity' %}</h4>
                    <div class="widget-controls">
                        <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                        <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="body no-margin">
                    <h4>{% trans 'Insertions/Deletions/Net' %} <small>{%  trans 'cummulative' %}</small></h4>
                    <div id="chartcontainer_activity_acum_parent" class="chart activity-charts">
                        {% include_container chartcontainer_activity_acum 300 800 %}
                    </div>
                    <hr/>
                    <h4>{% trans 'Commits & File Changes' %} <small>{% trans 'cummulative' %}</small></h4>
                    <div id="chartcontainer_commit_acum_parent" class="commit commit-charts">
                        {% include_container chartcontainer_commit_acum 300 800 %}
                    </div>
                    <hr/>

                    <h4>{% trans 'Insertions/Deletions/Net' %}</h4>
                    <div id="chartcontainer_activity_parent" class="chart activity-charts">
                         {% include_container chartcontainer_activity 300 800 %}
                    </div>
                    <hr/>

                    <h4>{% trans 'Commits & File Changes' %}</h4>
                    <div id="chartcontainer_commit_parent" class="commit commit-charts">
                         {% include_container chartcontainer_commit 300 800 %}
                    </div>
                    <hr>
                </div>
            </section>
            {% endif %}
        </section>
        {% if not developer.is_alias_of %}
        <div class="col-md-5" id="badges">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon color-lime">
                            <i class="fa fa-calendar-alt"></i>
                        </div>
                        <div class="description text-gray-light">
                            <strong>{{ active_days }}</strong> {% trans 'active days' %}<br>
                            <small>({% trans 'of' %} {{ total_days }})</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon color-orange">
                            <i class="far fa-dot-circle"></i>
                        </div>
                        <div class="description text-gray-light">
                            <strong>{{ commits_count }}</strong> {% trans 'commits' %}<br>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="box">
                            <div class="icon color-brown">
                                <i class="fa fa-edit"></i>
                            </div>
                            <div class="description text-gray-light">
                                <strong>{{ changes }}</strong> {% trans 'changes' %}<br>
                            </div>
                        </div>
                    </div>
                <div class="col-md-3 col-sm-3">
                    <div class="box">
                        <div class="big-text">
                            <small class="text-info">
                                {{ commits_per_day|floatformat:1 }}
                            </small>
                        </div>
                        <div class="description text-info"><strong>{{ 'commits per day' }}</strong><br>
                        <i class="color-orange fa fa-code-commit"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-3 col-sm-3">
                        <div class="box">
                            <div class="big-text color-green">
                                <small class="color-green">
                                   {{ loc_per_day|floatformat:1 }}
                                </small>
                            </div>
                            <div class="description text-gray-light"><strong>{{ 'locs per day' }}</strong><br>
                            <i class="fa fa-code"></i>
                            </div>
                        </div>
                    </div>
                <div class="col-md-3 col-sm-3">
                    <div class="box">
                        <div class="big-text">
                            <small class="text-white">
                                {{ blame|intcomma }}
                            </small>
                        </div>
                        <div class="description"><strong>{{ 'blame loc' }}</strong><br>
                            <i class="fa fa-code"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="box">
                        <div class="icon color-teal">
                        <i class="fa fa-code"></i>
                        </div>
                        <div class="description text-white">
                               {{ lines|intcomma }}<br>
                            <strong>{{ 'locs' }}</strong><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="box">
                        <div class="big-text">
                            <small class="text-info">
                                {% if ownership < 1.0 %}
                                    {{ ownership|mul:100.0|floatformat:1 }}%
                                {% else %}
                                    100%
                                {% endif %}
                            </small>
                        </div>
                        <div class="description text-info"><strong>{{ 'ownership' }}</strong><br>
                        <i class="fa fa-pie-chart text-white"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="box">
                        <div class="big-text">
                            <small class="{{ churn_color }}">
                                {% if churn < 1.0 %}
                                    {{ churn|mul:100.0|floatformat:1 }}%
                                {% else %}
                                    100%
                                {% endif %}
                            </small>
                        </div>
                        <div class="description"><strong>{% trans 'churn' %}</strong><br>
                        <i class="fa fa-fire"></i>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="box">
                        <div class="big-text">
                            <small class="{{ throughput_color }}">
                                {% if throughput < 1.0 %}
                                    {{ throughput|mul:100.0|floatformat:1 }}%
                                {% else %}
                                    100%
                                {% endif %}
                            </small>
                        </div>
                        <div class="description"><strong>{{ 'throughput' }}</strong><br>
                        <i class="fa fa-battery-three-quarters"></i>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="box">
                        <div class="big-text"><small class="text-info">{{ impact|floatformat:1 }}</small></div>
                        <div class="description"><strong>{% trans 'impact' %}</strong><br>
                        <i class="fa fa-flash"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><i class="fa fa-files-o text-success"></i></div>
                        <div class="description">
                            <small>&plus; {{ files_created }} {% trans 'created' %}<br>
                                &minus; {{ files_deleted }} {% trans 'deleted' %}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-3">
                    <div class="box">
                        <div class="big-text">
                            <small class="{{ churn_color }}">
                                {% if work_others < 1.0 %}
                                    {{ work_others|mul:100.0|floatformat:1 }}%
                                {% else %}
                                    100%
                                {% endif %}
                            </small>
                        </div>
                        <div class="description"><strong>{% trans 'colaborates' %}</strong><br>
                        <i class="fa fa-handshake"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><i class="fa fa-plus-circle text-primary"></i></div>
                        <div class="description color-teal"><strong>{{ insertions|intcomma }}</strong><br>
                            {% trans 'lined added' %}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><i class="fa fa-minus-circle color-orange"></i></div>
                        <div class="description color-orange"><strong>{{ deletions|intcomma }}</strong><br>
                        {% trans 'lines deleted' %}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><i class="fa fa-circle text-success"></i></div>
                        <div class="description text-success"><strong>{{ net|intcomma }}</strong><br>
                        {% trans 'net lines' %}</div>
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="box">
                        <div class="big-text">
                            <small class="{{ self_churn_color }}">
                            {{ self_churn|mul:100.0|floatformat:1 }}%
                            </small>
                        </div>
                        <div class="description"><strong>{{ 'self churn' }}</strong><br>
                            <i class="fab fa-free-code-camp"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box ">
                        <div class="big-text">
                            <small class="text-info">
                            {{ file_ownership|mul:100.0|floatformat:1}}%
                            </small>
                        </div>
                        <div class="description">
                            <strong>
                                {% trans 'owns' %} {{ owned_files|intcomma }} {% trans 'of' %} {{ total_files|intcomma }}
                            </strong><br>
                            <i class="fa fa-files-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="big-text">
                            {% if file_knowledge > 0.75 %}
                                <small class="text-success">
                            {% elif file_knowledge >= 0.10 %}
                                <small class="text-info">
                            {% else %}
                                <small class="text-warning">
                            {% endif %}
                            {{ file_knowledge|mul:100.0|floatformat:1 }}%
                            </small>
                        </div>
                        <div class="description"><strong>{{ 'file knowledge' }}</strong><br>
                            <i class="fa fa-flask"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="box">
                        <div class="big-text">
                            {% if knowledge > 0.75 %}
                                <small class="text-success">
                            {% elif knowledge >= 0.10 %}
                                <small class="text-info">
                            {% else %}
                                <small class="text-warning">
                            {% endif %}
                            {{ knowledge|mul:100.0|floatformat:1 }}%
                            </small>
                        </div>
                        <div class="description"><strong>{{ 'average knowledge' }}</strong><br>
                            <i class="fa fa-atom"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        {% if commits %}
                            <header>
                                <h4>{{ commits_count }} {% trans 'commits by:' %} {{ developer }}
                                    {% if commits.count < commits_count %}
                                        <small>({% trans 'shows last ' %}{{ commits.count }} {% trans 'commits' %})</small>
                                    {% endif %}
                                </h4>
                            </header>
                            <div class="body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget-table-overflow">
                                            <table class="table table-responsive">
                                        <tbody>
                                            {% for commit in commits %}
                                                <tr>
                                                    <td style="overflow: hidden; width: 90px;max-width: 90px; margin-right:10px;padding-right: 10px" class="width-100">
                                                        <p class="text-info">
                                                            {{ commit.hexsha|slice:"-6:" }} {{ commit.date }}
                                                        </p>
                                                        <p  style="overflow: hidden; word-wrap: break-word">
                                                            {{ commit.message|wordwrap:60|linebreaks }}
                                                        </p>
                                                        <p>
                                                            <span class="text-primary">
                                                                {% trans 'Files Changed' %}:
                                                                {{ commit.filechange_set.count|intcomma }}
                                                            </span><br>
                                                            <span class="text-info">
                                                                {% trans 'Ins' %}: {{ commit.insertions|intcomma }}
                                                            </span>&nbsp;|&nbsp;
                                                            <span class="text-danger">
                                                                {% trans 'Del' %}: {{ commit.deletions|intcomma }}
                                                            </span>&nbsp;|&nbsp;
                                                            <span class="text-success">
                                                                {% trans 'Net' %}: {{ commit.net|intcomma }}
                                                            </span>
                                                        </p>

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </section>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
    <div id="changeProfileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changeProfileLabel" aria-hidden="true" style="display: none">
        {% include 'developers/_form.html' %}
    </div>
{% endblock %}
{% block top_actions %}
    <li class="divider"></li>
    <li>
        <div class="top_action_button_div dropdown-toggle">
                <a class="btn btn-sm btn-default" href="{% url 'devs' %}">
                    <i class="fa fa-arrow-circle-left"></i> {% trans 'back' %}
                </a>
        </div>
    </li>
    <li>&nbsp;</li>
    <li class="divider"></li>
{% endblock %}
{% block breadcrumb_path %}
        <a href="{% url 'home' %}"><span class="text-gray-lighter">{% trans 'home' %}</span></a> /
    {% if project %}
        <a href="{% url 'projects' %}"><span class="text-gray-lighter">{% trans 'projects' %}</span></a> /
        <a href="{% url 'projects-detail' project.id %}"><span class="text-gray-lighter">{{ project|lower }}</span></a> /
        <a href="{% url 'project-devs-list' project.id %}"><span class="text-gray-lighter">{% trans 'committers' %}</span></a> /
    {% else %}
        <a href="{% url 'devs' %}"><span class="text-gray-lighter">{% trans 'devs' %}</span></a> /
    {% endif %}
    <span class="text-gray-light">{{ developer.name|lower }}</span>
{% endblock %}
{% block additional_javascript %}

<script src="{% static 'punchcard/main.js' %}"></script>

<script>
    var data = [];
    {% for day, value in punchcard.items %}
        data.push({
            label: '{% trans  day %}',
            values: {{ value }}
        })
    {%  endfor %}
    labelsX = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
    update(data, labelsX)
</script>
{% endblock %}