[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
django = "==3.0.*"
psycopg2 = "==2.8.*"

[requires]
python_version = "3.8"
