{% extends 'auth/auth_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block caption %}
{% trans 'Login to your account' %}
{% endblock %}
{% block form_fields %}
    {% if form %}
    {% bootstrap_form form %}
    {% endif %}
{% endblock %}
{% block form_buttons %}
<button class="btn btn-block btn-lg btn-danger" type="submit">
    <span class="small-circle"><i class="fa fa-caret-right"></i></span>
    <small>{%  trans 'Reset Password' %}</small>
</button>
    <p></p>
{% endblock %}