{% extends 'auth/auth_base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block caption %}
{% trans 'Login to your account' %}
{% endblock %}
{% block form_fields %}
<fieldset>
   <div class="form-group ">
        <label for="id_username">{% trans 'Email' %}</label>
       <div class="input-group">
           <span class="input-group-addon">
               <i class="fa fa-envelope"></i>
           </span>
           <input type="text" name="email"
                  autofocus maxlength="254" class="form-control"
                  placeholder="{% trans 'Email' %}" required id="id_email" />
       </div>
   </div>
</fieldset>
{% endblock %}
{% block form_buttons %}
<button class="btn btn-block btn-lg btn-danger" type="submit">
    <span class="small-circle"><i class="fa fa-caret-right"></i></span>
    <small>{%  trans 'Send Recover Email' %}</small>
</button>
    <p></p>
{% endblock %}