{% extends 'codice/base_home.html' %}
{% load static %}
{% load i18n %}
{% load gravatar %}
{% load humanize %}
{% load mathfilters %}
{% load boxes %}
{% load bootstrap4 %}
{% block content_body %}
    <h2 class="page-title">
        <i class="fas fa-archive"></i> {%trans 'Repository' %}: {{ repository.name}}
        &nbsp;
        <small>
             {% trans 'status:' %}&nbsp;<i class="{{ repository.status_icon }}"></i> {{ repository.get_status_display }}
        </small>
    </h2>
    {% include 'repository/blocks/stats_widgets.html' %}
    {% include 'repository/blocks/developers_of_branch.html' %}
{% endblock %}
{% block breadcrumb_path %}
    <a href="{% url 'home' %}"><span class="text-gray-lighter">{% trans 'home' %}</span></a> /
    <a href="{% url 'repos' %}"><span class="text-gray-lighter">{% trans 'repos' %}</span></a> /
    <span class="text-gray-light">{{ repository.name|lower }}</span>
{% endblock %}

{% block top_actions %}

    <li class="divider"></li>
    <li>
        <div class="top_action_button_div dropdown-toggle">
            <a class="btn btn-sm btn-default" href="{% url 'repos' %}">
                <i class="fa fa-arrow-circle-left"></i> {% trans 'back' %}
            </a>
        </div>
    </li>
    {% if user.can_del_repo %}
        {% include 'repository/blocks/delete_modal.html' %}
    {% endif %}
    <li class="divider"></li>
{% endblock top_actions %}